<div class="container-fluid">
	<div class="head">
		<p>picture</p>
	</div>
	<div class="Headerbuttons">
		<a href="#/view1/{{headButton.id}}" data-ng-repeat="headButton in Headerbuttons">{{headButton.name}}</a>
	</div>
	<div class="sidebar">
		<p>Search:<input type="text" data-ng-model="SearchInputSidebar"></p>
		<table>
			<tr data-ng-repeat="Sidebaritems in Sidebar | filter:SearchInputSidebar">
				<td><a href="#/Objects/{{Sidebaritems.id}}">{{Sidebaritems.name}}</a></td>
			</tr>
		</table>
		<!-- mit der Sidebar soll man dann in das View 2 kommen-->
	</div>
	<div style="{{Column.style}}" class="mainColumn" data-ng-repeat="Column in mainColumn">
		<h2>{{Column.title}}</h2>
		<div>{{Column.main}}</div>
	</div>

</div>




<!--<div style="float:left" data-ng-repeat="btnInfo in hbuttons">
	<a href="#/Menu/{{btnInfo.id}}">{{btnInfo.name}}</a>
</div>
<div style="float:left">
	<table>
		<tr data-ng-repeat="sidebarItems in Sidebar">
			<td>{{sidebarItems.name}}</td>
		</tr>
	</table>
</div>
<div>
<input type="text" data-ng-model="data.label" value="search">
<p>{{data.label}}</p>
<button>{{data.label}}</button>
</div>
<div>
	<li data-ng-repeat="repeat in repeats | filter:searchfilter | orderBy:orderProp">
		<p>Name:{{repeat.name}}</p>
		<p>Rank:{{repeat.title}}</p>
	</li>
	<p>{{toggleShowHideBoolean}}</p>
</div>
<p>{{btnInfo}}</p>
<br>
<div>
<button class="btn btn-primary" data-ng-click="runFunction()">Run</button>
<p>{{functionValue}}</p></div>
<div>{{mainContent.body}}</div>
<div>
	<p>Search:</p>
	<input type="text" data-ng-model="searchfilter">
	Sort:
	<select data-ng-model="orderProp">
		<option value="name">Alphabetical</option>
		<option value="rank">By Rank</option>

	</select>
</div>-->
<!-- animationen next-->